<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name ="Onliner" parallel="tests" thread-count="1">
    <test name="test">
        <classes>
            <class name="OnlinerTest"></class>
            <class name="onliner.NavigationTest"></class>
            <class name="onliner.FiltrationAuto"></class>
        </classes>
    </test>
</suite>